<div class="relative" style="width: 324px;">
  <select name="select" class="bg-white py-2 pr-8 pl-4 appearance-none w-full">
    <option class="font-montserrat text-lg" *ngFor="let op of options" [value]="op.id">{{ op.name }}</option>
  </select>
  <div class="px-2 bg-grey absolute inset-y-0 right-0 flex justify-center items-center pr-2 pointer-events-none">
    <div class="w-full flex justify-center">
      <fa-icon class="text-sm" [icon]="faChevronDown" style="color: white"></fa-icon>
    </div>
  </div>
</div>
