<div class="" style="width: 168px;">
  <div class="w-full flex justify-center items-center">
    {{this.pokemon | json}}
    <img [src]="this.pokemon?.imageDefault" style="height: 130px;">
  </div>
  <div class="px-2">
    <div class="w-full flex justify-between">
      <div><span class="text-lg">{{this.pokemon?.name}}</span></div>
      <div>
        <fa-icon class="text-sm" [icon]="faPen" style="color: #b4b4b4"></fa-icon>
      </div>
    </div>
    {{this.pokemon?.types?.[0]?.type}}
  </div>
</div>
